.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#6fa8ff, #cfe8ff);
}


.top-bar {
    background: #4a90e2;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.scores {
    background: linear-gradient(to bottom, #2c3e50 0%, #1a252f 100%);
    border: 4px solid #34495e;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.coin {
    background: #1e3c72;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

.setting {
    background: linear-gradient(to bottom, #2c3e50 0%, #1a252f 100%);
    border: 4px solid #34495e;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.setting:hover {
    transform: scale(1.05);
}

.setting:active {
    transform: scale(0.95);
}

.gear img {
    fill: white;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
